
/* 
 ? Google fonts usage area



* Regular type: 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Arvo', serif;

* Italic type: 
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Dancing Script', cursive;

* Monospace type: 
font-family: 'Ubuntu Mono', monospace;

*/